:root {
    --text-color: black;
    --link-color: blue;
    --background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
}